*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar_logo{
    display: flex;
    margin-top: 30px;
    margin-left: 280px;
}
.navbar_menu .tell{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #241515CC;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: auto 25px;
    gap: 5px;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 1450px;
}

.navbar_menu .way{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 43px;
    background-color: red;
    margin-top: -42px;
    font-size: 16px;
    gap: 5px;
    margin-left: 1700px;
}
.container{
    max-width: 1900px;
    margin: 0 auto;
}

.oy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.road{
    display: flex;
    width: 90px;
    font-size: 25px;
    margin-left: 400px;
    margin-top: -700px
}

.frag{
    display: flex;
    width: 400px;
    font-size:18px ;
    margin-left: 400px;
}